<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/styles.css" type="text/css" rel="stylesheet">
    <title>Calculator</title>
</head>
<body>

<div id="calculator">
    <button class="numpad-button">|x|</button>
    <div class="screen">
        <div class="upper-screen">
            <h4 id="screen2"></h4>
            <h4 id="screen3"></h4>
        </div>
        <h2 id="screen">0</h2>
    </div>
    <button class="numpad-button" id="delete-button">←</button>

    <button class="numpad-button">1/x</button>

    <button class="numpad-button numpad-number">1</button>
    <button class="numpad-button numpad-number">2</button>
    <button class="numpad-button numpad-number">3</button>

    <button class="numpad-button" doubleOperand>+</button>

    <button class="numpad-button" doubleOperand>log</button>

    <button class="numpad-button numpad-number">4</button>
    <button class="numpad-button numpad-number">5</button>
    <button class="numpad-button numpad-number">6</button>

    <button class="numpad-button" doubleOperand>-</button>

    <button class="numpad-button">π</button>

    <button class="numpad-button numpad-number">7</button>
    <button class="numpad-button numpad-number">8</button>
    <button class="numpad-button numpad-number">9</button>

    <button class="numpad-button" doubleOperand>*</button>

    <button class="numpad-button">е</button>

    <button class="numpad-button numpad-number">0</button>
    <button class="numpad-button" id="dot-button">.</button>
    <button class="numpad-button" id="reset">C</button>

    <button class="numpad-button" doubleOperand>/</button>

    <button class="numpad-button" doubleOperand>mod</button>
    <button class="numpad-button" doubleOperand>x^y</button>
    <button class="numpad-button" doubleOperand>x^1/y</button>
    <button class="numpad-button">n!</button>
    <button class="numpad-button" id="calculate">=</button>
</div>

<script src="../js/app.js"></script>
</body>
</html>